MyCalendarView/MyCalendarView.Droid/obj/
MyCalendarView/MyCalendarView.Droid/bin/
MyCalendarView/MyCalendarView.Droid/Properties/
MyCalendarView/MyCalendarView/obj/
MyCalendarView/MyCalendarView/bin/
MyCalendarView/MyCalendarView/Properties/
MyCalendarView/Lunar/obj/
MyCalendarView/Lunar/bin/
MyCalendarView/Lunar/Properties/
packages/
WindowsFormsApplication1/